<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <application android:allowBackup="false" tools:replace="android:allowBackup">
    <profileable android:shell="true" />
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true" tools:replace="android:value" />
    <meta-data android:name="expo.modules.updates.UPDATES_CONFIGURATION_REQUEST_HEADERS_KEY" android:value="{&quot;expo-channel-name&quot;:&quot;perf&quot;}" />
    <activity android:name="com.otaldogusta.goatleta.MainActivity">
      <intent-filter tools:node="removeAll" />
    </activity>
    <activity-alias android:name="com.otaldogusta.goatleta.PerfLauncher" android:targetActivity="com.otaldogusta.goatleta.MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="goatleta" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
